# Rural Urban Classification

The *Rural Urban Classification* is an ONS classification scheme applied at various geographical levels that categorises areas into a distinct category.

## Rural Urban Classification - OA Level

The output area (OA) level is the smallest available geography.

https://ons.maps.arcgis.com/home/item.html?id=7adcd11fff60422da067b3d4858a9de9

In [7]:
!unzip 'Rural_Urban_Classification_(2001)_for_OAs_in_England_and_Wales.zip'

Archive:  Rural_Urban_Classification_(2001)_for_OAs_in_England_and_Wales.zip
  inflating: Rural and Urban Area Classification, Output Areas, 2004.pdf
  inflating: RUC_OA_2001_EW_LU.xlsx
  inflating: RUC_OA_2001_EW_LU.csv

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('RUC_OA_2001_EW_LU.csv', nrows=10)
df

,GOR01CD,GOR01NM,CTY01CD,CTY01NM,LAD01CD,LAD01NM,MSOA01CD,MSOA01NM,LSOA01CD,LSOA01NM,OA01CD,OA01CDO,RUC01NM,RUC01CD,Morphology Name,Morphology Code,Context Name,Context Code
0,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000001,00AAFA0001,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
1,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000002,00AAFA0002,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
2,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000003,00AAFA0003,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
3,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000004,00AAFA0004,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
4,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000005,00AAFA0005,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
5,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000006,00AAFA0006,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
6,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000007,00AAFA0007,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
7,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000001,City of London 001A,E00000008,00AAFA0008,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
8,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000004,City of London 001D,E00000009,00AAFE0001,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0
9,H,London,NaN,NaN,00AA,City of London,E02000001,City of London 001,E01000003,City of London 001C,E00000010,00AAFQ0001,Urban >10K - Less Sparse,5,Urban >10K,1,Less Sparse,0

## LSOA Level

http://geoportal.statistics.gov.uk/datasets/rural-urban-classification-2011-of-lower-layer-super-output-areas-in-england-and-wales

In [9]:
!wget -O lsoa_ruc.csv https://opendata.arcgis.com/datasets/276d973d30134c339eaecfc3c49770b3_0.csv

--2019-03-15 13:28:07--  https://opendata.arcgis.com/datasets/276d973d30134c339eaecfc3c49770b3_0.csv
Resolving opendata.arcgis.com (opendata.arcgis.com)... 34.197.13.10, 52.7.213.26
Connecting to opendata.arcgis.com (opendata.arcgis.com)|34.197.13.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘lsoa_ruc.csv’

lsoa_ruc.csv            [ <=>                ]   1.92M  9.77MB/s    in 0.2s

2019-03-15 13:28:08 (9.77 MB/s) - ‘lsoa_ruc.csv’ saved [2010018]

In [10]:
pd.read_csv('lsoa_ruc.csv', nrows=10)

    LSOA11CD     LSOA11NM RUC11CD                    RUC11   FID
0  E01007069  Sefton 017C      A1  Urban major conurbation  7001
1  E01007070  Sefton 017D      A1  Urban major conurbation  7002
2  E01007071  Sefton 020C      A1  Urban major conurbation  7003
3  E01007072  Sefton 020D      A1  Urban major conurbation  7004
4  E01007073  Sefton 020E      A1  Urban major conurbation  7005
5  E01007074  Sefton 019A      A1  Urban major conurbation  7006
6  E01007075  Sefton 016A      C1      Urban city and town  7007
7  E01007076  Sefton 016B      C1      Urban city and town  7008
8  E01007077  Sefton 016C      C1      Urban city and town  7009
9  E01007078  Sefton 015D      C1      Urban city and town  7010

## 2011 residential-based area classifications (census based)

https://www.ons.gov.uk/methodology/geography/geographicalproducts/areaclassifications/2011areaclassifications/datasets

In [13]:
!wget -O census_oa.zip https://www.ons.gov.uk/file?uri=/methodology/geography/geographicalproducts/areaclassifications/2011areaclassifications/datasets/2011oacclustersandnamescsvv2.zip

--2019-03-15 13:34:46--  https://www.ons.gov.uk/file?uri=/methodology/geography/geographicalproducts/areaclassifications/2011areaclassifications/datasets/2011oacclustersandnamescsvv2.zip
Resolving www.ons.gov.uk (www.ons.gov.uk)... 104.20.60.76, 104.20.61.76, 2606:4700:10::6814:3c4c, ...
Connecting to www.ons.gov.uk (www.ons.gov.uk)|104.20.60.76|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘census_oa.zip’

census_oa.zip           [ <=>                ]   1.04M  --.-KB/s    in 0.05s

2019-03-15 13:34:47 (19.0 MB/s) - ‘census_oa.zip’ saved [1091690]

In [14]:
!unzip census_oa.zip

Archive:  census_oa.zip
  inflating: 2011 OAC Clusters and Names csv v2.csv

In [15]:
pd.read_csv('2011 OAC Clusters and Names csv v2.csv', nrows=10)

,Output Area Code,Local Authority Code,Local Authority Name,Region/Country Code,Region/Country Name,Supergroup Code,Supergroup Name,Group Code,Group Name,Subgroup Code,Subgroup Name
0,E00000001,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d3,EU White-Collar Workers
1,E00000003,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d2,Highly-Qualified Quaternary Workers
2,E00000005,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d3,EU White-Collar Workers
3,E00000007,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d3,EU White-Collar Workers
4,E00000010,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d3,EU White-Collar Workers
5,E00000012,E09000001,City of London,E12000007,London,3,Ethnicity Central,3b,Endeavouring Ethnic Mix,3b3,Multi-Ethnic Professional Service Workers
6,E00000013,E09000001,City of London,E12000007,London,2,Cosmopolitans,2b,Inner-City Students,2b2,Multicultural Student Neighbourhoods
7,E00000014,E09000001,City of London,E12000007,London,2,Cosmopolitans,2b,Inner-City Students,2b2,Multicultural Student Neighbourhoods
8,E00000016,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d3,EU White-Collar Workers
9,E00000017,E09000001,City of London,E12000007,London,2,Cosmopolitans,2d,Aspiring and Affluent,2d3,EU White-Collar Workers